body {
  background-color: rgb(220, 231, 238);
  display: flex;
  flex-direction: column;
  font-family: Playfair Display, serif;
}

section {
  display: flex;
  flex-direction: column;
}

h3 {
  padding: 2%;
  display: inline;
  color: rgb(40, 63, 51);
  max-width: 20%;
  min-width: 20%;
  text-align: center;
  font-size: 150%;
}

h4 {
  color: rgb(40, 63, 51);
  line-height: 1.5em;
  font-size: 125%;
  padding: 2%;
}

p {
  display: block;
  color: rgb(40, 63, 51);
  font-size: 100%;
  line-height: 1.5em;
  padding: 2%;
}

section {
  display: flex;
}

/*-----Header/Nav Bar-----*/
header {
  display: flex;
  background-color: rgba(0, 0, 0, 0.685);
  flex-direction: row;
}

.header-bar {
  display: flex;
  height: 9.3em;
  width: 100%;
  justify-content: space-between;
}

.header-title {
  padding: 2% 2% 2% 0%;
  display: flex;
  min-height: 100%;
  max-height: 100%;
  align-items: center;
  justify-content: space-around;
}

h1 {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 200%;
  padding: 5%;
  color:aliceblue;
  background-color: rgb(114, 177, 142);
  filter: brightness(70%);
  border-radius: 5px;
}

.image-container {
  display: flex;
  justify-content: center;
  padding: 2%;
}

img.avatar {
  max-width: 15rem;
  min-width: 15rem;
  display: flex;
  filter: brightness(80%);
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  height: 100%;
  width: 100%;
  gap: 2rem;
  padding: 7%;
  justify-content: flex-end;
  align-items: center;
}

a {
  text-decoration: underline;
  text-underline-offset: 1rem;
  font-weight: bolder;
  text-decoration-thickness: .2rem;
  color: rgb(114, 177, 142);
}

/*Hero Section*/
hero {
  max-height: 10em;
  display: flex;
  position: relative;
}

hero.img {
  height: 100%;
}

img#programming-image {
  border: none;

}

#subtitle {
  position: absolute;
  bottom: 15%;
  right: 5%;
  gap: 1rem;
  background-color: rgb(114, 177, 142);
  border-radius: 5px;
}

/*----About-Me-Section----*/
section.about-me {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;

}

#about-me-paragraph {
  align-content: center;
  padding: 3%;
  border-left: rgb(114, 177, 142) 5px solid;
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
}
#about-me-paragraph p {
  font-size: 110%;
  text-align: center;
}

/*----Work Section*/

section.work-examples {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  padding: 7%;
  border-left: rgb(114, 177, 142) 5px solid;
  margin-bottom: 2%;
}

.project {
  display: flex;
  position: relative;
  max-height: 8rem;
  max-width: 45%;
  min-width: 45%;
}

#project-1 {
  display: flex;
  max-width: 95%;
  min-width: 94%;
  max-height: 16rem;
  
}

.content {
  position: absolute;
  bottom: 15%;
  gap: 1rem;
  background-color: rgb(114, 177, 142);
  min-width: 35%;
  border-radius: 5px;
}

a {
  max-height: 100%;
  max-width: 100%;
  min-width: 100%;
  filter: brightness(70%);
}

img {
  border: rgb(114, 177, 142) 4px solid;
  border-radius: 5px;
  max-height: 100%;
  max-width: 100%;
  min-width: 100%;
  object-fit: cover;
}

/*Contact Section*/
section.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.contact-me {
  display: flex;
  flex-direction: row;
  height: 12.5rem;
  width: 100%;
}

.contact-banner {
  display: flex;
  flex-direction: row;

  border-left: rgb(114, 177, 142) 5px solid;
  align-items: center;
  width: 100%;
  justify-content: center;
}

/*Psuedo Elements and Classes*/
a:hover {
  transition: .2s;
  filter: brightness(100%);
}

/*Media Query for Tablet*/
@media screen and (max-width:1024px) {

  nav {
    justify-content: center;
  }

  nav ul {

    margin-right: 0;
  }

  header {
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 2em;
  }

  .header-bar {
    align-content: center;
    justify-content: center;
  }

  h1 {
    padding: 2%;
    display: inline;
    text-align: center;
    font-size: 175%;
  }

  .project {
    max-width: 95%;
    min-width: 90%;
  }

}

/*Media Query for Mobile*/
@media screen and (max-width:768px) {
  header {
    height: 30em;
    justify-content: center;
  }
  .header-bar {
    flex-direction: column;
    max-height: 10%;
    min-height: 10%;
    justify-content: space-between;
  }
  .header-title {
    padding-left: 2%;
  }
  nav {
    flex-direction: flex-end;
  }
  ul {
    padding-top: 2%;
  }
  section.about-me {
    flex-direction: column;
  }

  #about-me-paragraph {
    border-left: none;
    border-bottom: rgb(114, 177, 142) 5px solid;
    margin: 2%;
  }

  section.work-examples {
    flex-direction: column;
  }

  .card {
    border-left: none;
    border-bottom: rgb(114, 177, 142) 5px solid;
    margin: 2%;
  }

  section.contact {
    flex-direction: column;
  }
  #contact-me {
    border: none;
  }
  ul {
    flex-direction: column;
  }

  h3 {
    padding: 5%;
    max-width: 100%;

  }
}