body {
  background-color: rgb(220, 231, 238);
  display: flex;
  flex-direction: column;
}
section {
  position: relative;
  display: flex;
  flex-direction: column;
}
h3 {
  padding: 7%;
  display: flex;
  color:rgb(40, 63, 51);
  position: absolute;
  top: 0%;

}

h4 {
  color:rgb(40, 63, 51)
}
p {
  color:rgb(40, 63, 51);
}

/*-----Header/Nav Bar-----*/
header {
  flex: 1 1 0;
  background-color: rgba(0, 0, 0, 0.685);


}

.header {
  display: flex;
  justify-content: space-between;
  height: 150px;
}
h1 {
  display: flex;
  height: 100%;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 40px;
  font-size: 150%;
  color:rgb(114, 177, 142);
}

nav ul {
  display: flex;
  list-style-type: none;
  height: 100%;
  width: 300px;
  align-items: center;
  margin-right: 40px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 0 0 0;
  justify-content: space-between;
}

a {
  text-decoration: underline;
  text-underline-offset: 1rem;
  font-weight: bolder;
  text-decoration-thickness: .2rem;
  color:rgb(114, 177, 142);
}
/*----About-Me-Section----*/
.about-me {
  display: flex;
  position: relative;
  
}
#about-me-paragraph {
  align-content: center;
  padding: 7%;
  margin-left: 30%;
}
/*----Work Section*/

.work-examples {
display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-start;
position: relative;
}

.work-examples ~ div {
  display: flex;

}
.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 3rem;
  padding: 1.5%;
  margin-left: 30%;
}
.project {
  display: flex;
  position: relative;
  max-height: 8rem;
  max-width: 45%;
}
#project-1 {
  max-height: 8rem;
  display: flex;
  max-width: 95%;
  min-width: 90%;
}

.content {
  position: absolute;
  bottom: 15%;
  gap: 1rem;
  background-color: rgb(114, 177, 142);
}
a {
  max-height: 100%;
  max-width: 100%;
  min-width: 100%;
}
img {
  border: rgb(114, 177, 142) 4px solid;
  max-height: 100%;
  max-width: 100%;
  min-width: 100%;
  object-fit: cover;
}

/**/
.contact-me {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  height: 200px;
}
#contact-banner {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  position: absolute;
  padding: 7%;

}
.contact {
  position: absolute;
  left: 0%;

}
